In [7]:
# dictionary

book = {"FF":5,"Gf":7}
print(book)
print(type(book))

{'FF': 5, 'Gf': 7}
<class 'dict'>

In [8]:
book['FF']=9

In [9]:
print(book)

{'FF': 9, 'Gf': 7}

In [10]:
book['FtF']=9

In [11]:
print(book)

{'FF': 9, 'Gf': 7, 'FtF': 9}

In [13]:
book.pop('FtF')

9

In [14]:
print(book)

{'FF': 9, 'Gf': 7}

In [15]:
book.clear()

In [16]:
print(book)

{}

In [17]:
book['FF']=9

In [20]:
if 9 in book:
    print("i am here")
else:
    print('i am not')

i am not

In [11]:
def mixer(**kargs):
    print(kargs)
    print(type(kargs))
#mixer(f='2f',d=3)
mixer( yy=2, yt=8)

{'yy': 2, 'yt': 8}
<class 'dict'>

In [27]:
def mindful(*args):
    for x  in args:
        print(x)
        print('')

mindful({'efef fefevv fesf'},{7,8,9})

{'efef fefevv fesf'}

{8, 9, 7}

In [40]:
mar=3
jan=1
jun=6
monthCon = {mar:"march", jan:"january",jun:"june"}
for x in monthCon:
            print(x)
            print(monthCon[x])
monthCon.get(mar,"not present in dictionarty!")
monthCon.get("march","not present in dictionarty!")

3
march
1
january
6
june

'not present in dictionarty!'

In [4]:
try:
    y = 9/0
     
except ValueError:
    print("error")
except  :
    print("error 1")

error 1

In [5]:
k='j'
s =[' aye kya bolti tu','u',k]
d= 'aeiou'
[print(x) for x in s if x in d]

u

[None]

In [1]:
import pandas as pd
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print('After altering col1 and col3')
df = df[['col3', 'col2', 'col1']]
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
After altering col1 and col3
   col3  col2  col1
0     7     4     1
1     8     5     4
2     9     6     3
3     0     7     4
4     1     8     5

In [2]:
import pandas as pd
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print("New DataFrame after removing 2nd & 4th rows:")
df = df.drop(df.index[[2,4]])
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
New DataFrame after removing 2nd & 4th rows:
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

In [4]:
import pandas as pd
my_lists = [['col1', 'col2'], [2, 4], [1, 3]]
headers = my_lists.pop(0)
print("Original list of lists:")
print(my_lists)
df2 = pd.DataFrame(my_lists, columns = headers)
print("New DataFrame")
print(df2)

Original list of lists:
[[2, 4], [1, 3]]
New DataFrame
   col1  col2
0     2     4
1     1     3

In [5]:
import pandas as pd
d = {'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print("\nAll columns except 'col3':")
df = df.loc[:, df.columns != 'col3']
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

All columns except 'col3':
   col1  col2
0     1     4
1     4     5
2     3     6
3     4     7
4     5     8