In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('sales_data.csv - sales_data.csv', delimiter=';')
df.head()

  Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0  2013-11-26,26,November,2013,19,Youth (<25),M,C...
1  2015-11-26,26,November,2015,19,Youth (<25),M,C...
2  2014-03-23,23,March,2014,49,Adults (35-64),M,A...
3  2016-03-23,23,March,2016,49,Adults (35-64),M,A...
4  2014-05-15,15,May,2014,47,Adults (35-64),F,Aus...

In [3]:
df.tail()

       Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
113031  2016-04-12,12,April,2016,41,Adults (35-64),M,U...
113032  2014-04-02,2,April,2014,18,Youth (<25),M,Austr...
113033  2016-04-02,2,April,2016,18,Youth (<25),M,Austr...
113034  2014-03-04,4,March,2014,37,Adults (35-64),F,Fr...
113035  2016-03-04,4,March,2016,37,Adults (35-64),F,Fr...

In [4]:
df.sample(4)

      Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
50364  2013-08-21,21,August,2013,53,Adults (35-64),M,...
47803  2015-08-21,21,August,2015,33,Young Adults (25-...
14924  2015-10-09,9,October,2015,36,Adults (35-64),F,...
67720  2014-03-17,17,March,2014,36,Adults (35-64),M,U...

In [5]:
df[['Date', 'Country']]

KeyError: "None of [Index(['Date', 'Country'], dtype='object')] are in the [columns]"

In [7]:
df.column1

AttributeError: 'DataFrame' object has no attribute 'column1'

In [8]:
df.count()

Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue    113036
dtype: int64